<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <!-- skeleton css -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
        <title>Document</title>
    </head>
    <body>
        <a href="/users/logout">Logout</a>
        <h1> Welcome to Candidate Portal</h1>
        <h3>Hello <%= user %></h2>
        <h3>Your portal <%=role %></h2>

    </body>
</html>