<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">

        <title>Recruiter Portal</title>
        <style>
            a{
                text-decoration: none;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <a href="/users/logout">Logout</a>
            <h1> Welcome to recruiter Portal</h1>
            <ul>
                <% if(messages.success_msg) { %>
                <li><%= messages.success_msg %></li>
                <% } %>
            </ul>
            <div>
                <!-- modal to post a job -->
                <button value="Post a Job">            
                    <a href="#ex1" rel="modal:open">Post a Job</a>
                </button>
                        <!-- modal to view applicants -->
                <button value="View Applicants">            
                    <a href="#ex2" rel="modal:open">View Applicants</a>
                </button>

        </div>


            <div id = "ex1" class="modal">
                <div class="modal-content">
                    <form action="/users/dashboardRec" method="POST">
                    <div>
                        <input type="text" name="jobid" id="jobid" placeholder="Job ID"/>
                    </div>
                    <div>
                        <input type="text" name="jobname" id="jobname" placeholder="Job Name"/>
                    </div>
                    <div>
                        <textarea class="u-full-width" name="jobdescr" id="jobdescr" placeholder="Job Description"></textarea>
                    </div>
                    <div>
                        <input type="submit" value="Post Job"/>
                    </div>
                    </form>
                 </div>
                <a href="#" rel="modal:close">Close</a>
            </div>
        </div>
        

        <div id = "ex2" class="modal">
            <div class="modal-content">
                <form action="/users/dashboardRec/jobapplicants" method="POST">
                <div>
                    <input type="text" name="jobid2" id="jobid2" placeholder="Job ID"/>
                </div>
                <div>
                    <input type="submit" value="View Applicants"/>
                </div>
                </form>
             </div>
            <a href="#" rel="modal:close">Close</a>
        </div>

    </div>
    </body>
</html>