<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <!-- skeleton css -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
        <title>Document</title>
        <style>
            a{
                text-decoration: none;
            }
        </style>
    </head>
    <body>
        <a href="/users/logout">Logout</a>
        <h1> Welcome to Candidate Portal</h1>
        <h3>Jobs:</h3>
        <div>
            <form action="/users/dashboardCand/apply" method="POST">
                <input type="submit" value="View Job Postings"/>
            </form>
        </div>
    </body>
</html>